python-dotenv
fastapi
uvicorn[standard]
langgraph
langchain
langchain-core
langchain-community
pydantic
pydantic-settings
faiss-cpu
numpy
torch
boto3
httpx
python-multipart
pypdf
beautifulsoup4
tqdm
docuweave
